:root {
  --bg-pic7-url: url(/img/light/home_pic7.svg);
  --bg-pic7-768-url: url(/img/light/home_pic7-768.svg);
  --bg-pic1-url: url(/img/light/zh_dow_pic1.png);
  --bg-pic2-url: url(/img/light/help_pic1.svg);
  --bg-1-url: url(/img/light/bg1.png);
  --bg-2-url: url(/img/light/bg2.png);
  --bg-3-url: url(/img/light/bg3.png);
  --bg-4-url: url(/img/light/bg4.png);
  --bg-5-url: url(/img/light/bg5.png);
  --bg-6-url: url(/img/light/bg6.png);
  --bg-7-url: url(/img/light/bg7.png);
  --bg-8-url: url(/img/light/bg8.png);
  --bg-9-url: url(/img/light/bg9.png);
  --bg-10-url: url(/img/light/bg10.png);
  --bg-11-url: url(/img/light/bg11.png);
  --bg-768-3-url: url(/img/light/bg3_768.png);
  --bg-768-4-url: url(/img/light/bg4_768.png);
  --bg-768-5-url: url(/img/light/bg5_768.png);
  --bg-768-6-url: url(/img/light/bg6_768.png);
  --bg-768-7-url: url(/img/light/bg7_768.png);
  --bg-768-8-url: url(/img/light/bg8_768.png);
  --bg-768-9-url: url(/img/light/bg9_768.png);
  --bg-color: #fff;
  --text-color: #000;
  --txt-gray-color: #727570;
  --txt-4ca5: #4c4e4b;
  --txt-theme-color: #8bcf70;
  --bg-hover-color: #f2f3f1;
  --btn-hover-color: #98d87f;
  --choose-bg-hover-color: #fff;
  --box-shadow-color: rgba(234, 236, 242, 0.5);
  --border-color: #e7e9e4;
  --pop-bg-color: #fff;
  --bg-fa-color: #fafafa;
  --txt-191a15-color: #191a15;
  --bg-rec-color: #ffdd33;
  --bg-292c2f-color: #fff;
  --pop-box-shadow: 0px 0px 8px #f3f2f5;
  --code-bg-color: #000;
}

:root[data-theme='dark'] {
  --bg-pic7-url: url(/img/dark/home_pic7.svg);
  --bg-pic7-768-url: url(/img/dark/home_pic7-768.svg);
  --bg-pic1-url: url(/img/dark/zh_dow_pic1.png);
  --bg-pic2-url: url(/img/dark/help_pic1.svg);
  --bg-1-url: url(/img/dark/bg1.png);
  --bg-2-url: url(/img/dark/bg2.png);
  --bg-3-url: url(/img/dark/bg3.png);
  --bg-4-url: url(/img/dark/bg4.png);
  --bg-5-url: url(/img/dark/bg5.png);
  --bg-6-url: url(/img/dark/bg6.png);
  --bg-7-url: url(/img/dark/bg7.png);
  --bg-8-url: url(/img/dark/bg8.png);
  --bg-9-url: url(/img/dark/bg9.png);
  --bg-10-url: url(/img/dark/bg10.png);
  --bg-11-url: url(/img/dark/bg11.png);
  --bg-768-3-url: url(/img/dark/bg3_768.png);
  --bg-768-4-url: url(/img/dark/bg4_768.png);
  --bg-768-5-url: url(/img/dark/bg5_768.png);
  --bg-768-6-url: url(/img/dark/bg6_768.png);
  --bg-768-7-url: url(/img/dark/bg7_768.png);
  --bg-768-8-url: url(/img/dark/bg8_768.png);
  --bg-768-9-url: url(/img/dark/bg9_768.png);
  --bg-color: #1e1e1e;
  --text-color: #fff;
  --txt-gray-color: #888c8a;
  --txt-4ca5: #a5aca9;
  --txt-theme-color: #58a738;
  --bg-hover-color: #2c312e;
  --btn-hover-color: #5eb939;
  --choose-bg-hover-color: #2e3533;
  --box-shadow-color: rgba(0, 0, 0, 0.12);
  --border-color: #2f3329;
  --pop-bg-color: #202124;
  --bg-fa-color: #262b2a;
  --txt-191a15-color: #fff;
  --bg-rec-color: #d6b300;
  --bg-292c2f-color: #292c2f;
  --pop-box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.12);
  --code-bg-color: #2e3533;
}
